
{% set active_page = active_page -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="btn-white" data-image="../../static/img/sidebar-1.jpg">
      <div class="logo">
        <a href="https://ibb.co/PjFpLwg"><img src="https://i.ibb.co/g9m12zJ/tt2.jpg" alt="logo" style="width:200px;height:50px;border="0" /></a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/dashboard/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="/courses_page/">
              <i class="material-icons">bubble_chart</i>
              <p>Courses</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/view_issue/">
              <i class="material-icons">help</i>
              <p>Help</p>
            </a>
          </li>
          <li class="nav-item active-pro ">
            <a class="nav-link" href="/logout/">
              <i class="material-icons">arrow_back</i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="/dashboard/">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>

	<div class="content">
		<main>
			{% block body %}{% endblock %}
		</main>

	</div>
    <footer class="sticky-footer">
      	<div class="container">
        	<div class="text-center">
          	<small>Copyright © Techno Titbits</small>
        	</div>
      	</div>
    </footer>
    </div>
  </div>
</body>
</html>
